.container
{
    font-family: sans-serif;
    display:flex;
    justify-items:center;
    align-items:center;
    background-color:lightsalmon;
    padding-left: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.7rem;
    padding: 1rem;
    
   
}  

.story_head
{
    text-align: center;
    height:auto;
    padding-left: 20px;
}

.App-img
{
   padding-right: 2rem;
   width: 300px;
   height:300px;
}

#p
{
    padding-left: 0%;
}