.main__container{
    border: 2px solid black;
    margin-top: 0rem;
    padding: 2rem;
   padding-left: 10%;
   padding-right:10%;
    background-color:lightsalmon;
    
    font-size: 32px;
    
}
.pagination
{
  text-align: center;
}


.houses__infoContainer
{
    
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  padding-inline: 30% ;
  border-style:outset;
  padding:3.5%;
  background-color:bisque;
}

.page_container
{
  padding: 2px;
}
ul.house-list {
  list-style-type: none;
}

ul.house-list li b {
  position: relative;
  display:inline-block;
  min-width:150px;
  margin-right:10px;
}

ul.house-list li b:after {
  content: ":";
  position:absolute;
  right:0;
}