.main__container{
    border: 2px solid black;
    margin-top: 0rem;
    padding: 2rem;
   padding-left: 10%;
   padding-right:10%;
    background-color:lightsalmon;
    text-align: center;
    font-size: 32px;
    
}


.houses__infoContainer
{
  text-align: center;  
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  padding-inline: 30% ;
  border-style:outset;
  padding:3.5%;
  background-color:bisque;
}

.page_container
{
  padding: 2px;
}